.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
p {
  width: 100%;
}
span {
  display: inline-block;
  text-align: center;
}
span:first-child {
  width: 65%;
}
span:last-child {
  width: 35%;
}
