.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.qrWrapper svg path:last-child {
  fill: black;
}
.input {
  border-radius: 4px;
  border: 1px solid black;
  color: rgb(33, 33, 33);
  font-size: 18px;
  background-color: hsl(0, 19%, 95%);
  width: 400px;
  height: 60px;
  padding: 12px;
  margin: 8px 8px 8px 28px;
}
.button {
  margin-top: 16px;
  width: 200px;
  height: 60px;
  border-radius: 8px;
  background-color: black;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
