.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 50px;
}
p {
  width: 100%;
}
span {
  display: inline-block;
}
span:first-child {
  width: 55%;
  text-align: center;
}
span:last-child {
  min-width: 100px;
  width: 15%;
}
